@charset "utf-8";
/* CSS Document */
div{
	margin:0;
	padding:0;
	}
body{
	background-color:#f8f8f8;
	width:100%;
	margin:0;
	padding:0;
	}
.content{
	margin:auto;
	padding:0;
	width:927px;
	}
#content_list{
	width:927px;
	padding:0;
	background-image:url(image/bg.jpg);
	background-repeat:repeat-y;
	margin-top:34px;
	}
.all_anli{
	margin:73px 0 0 0;
	}
#content_list ul{
	width:790px;
	padding:26px 0 0 61px;
	}
#content_list li{
	height:285px;
	border-bottom:#d1d1d1 solid 1px;
	width:790px;
	margin-top:25px;
	}
.foot{
	width:100%;
	height:199px;
	background-image:url(image/foot_bg.jpg);
	font-size:12px;
	font-family:Microsoft Yahei;
	margin:0;
	padding:0;
	}
.foot .content{
	width:978px;
	height:199px;
	overflow:hidden;
	}
.foot ul{
	width:436px;
	height:40px;
	margin:0;
	padding:42px 0 0 0;
	float:left;
	}
.foot li{
	list-style:none;
	float:left;
	color:#595959;
	margin:0;
	padding:0;
	}
.foot a{
	color:#595959;
	text-decoration:none;
    margin:0 5px 0 5px;
	}
.foot .li_long{
	margin:6px 0 0 0;
	}
.foot .li_long a{
	margin:0 12px 0 5px;
	}
.foot_r{
	width:170px;
	height:130px;
	float:right;
	color:#595959;
	}
.share{
	float:right;
	margin-top:37px;
	width:168px;
	height:26px;
	}
.share a{
	margin:0 0 0 5px;;
	padding:0;
	padding-top:2px;
	float:right;
	}
.share span{
	position: absolute;
	margin-top:5px;
	}
.erwei{
	margin-top:80px;
	width:170px;
	height:82px;
	}
.erwei p{
	width:75px;
	height:30px;
	float:right;
	margin-top: 48px;
	}
.erwei img{
	float:right;
	}
.last{
	background-image:url(image/last_bg.jpg);
	width:100%;
	height:30px;
	
	}
.last .content{
	width:978px;
	height:30px;
	font-size:12px;
	color: #595959;
	font-family:Microsoft Yahei;
	line-height:32px;
	}